html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  margin:0 auto;
  padding: 1rem;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: blue;
}
.next{
  text-align: center;
  font-size: 1.5rem;
  float: top;
  color: white;
  padding: 2rem;


}
